# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.swp

# Ignore build output directories
build/
dist/
