<!-- _kanban_board.html -->
<h1>Kanban Board</h1>

<!-- Kanban Board Columns -->
<div class="row mt-4 kanban-board">
    <div class="col-lg-3 kanban-column" id="backlog">
        <h2>Backlog</h2>
        <!-- Backlog tasks will be dynamically populated here -->
    </div>
    <div class="col-lg-3 kanban-column" id="todo">
        <h2>To Do</h2>
        <!-- To Do tasks will be dynamically populated here -->
    </div>
    <div class="col-lg-3 kanban-column" id="inprogress">
        <h2>In Progress</h2>
        <!-- In Progress tasks will be dynamically populated here -->
    </div>
    <div class="col-lg-3 kanban-column" id="done">
        <h2>Done</h2>
        <!-- Done tasks will be dynamically populated here -->
    </div>
</div>

<!-- Include Sortable.js for drag-and-drop functionality -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

<!-- Reference to the custom JavaScript file for Kanban functionality -->
<script src="{{ url_for('static', filename='js/kanban.js') }}"></script>
