<!-- Search Bar -->
<div class="filter-group mb-4"> <!-- Added a new class 'filter-group' for custom styling -->
    <h2 class="filter-title">Filter</h2> <!-- Added a new class 'filter-title' for styling the filter heading -->
    <label for="taskSearch" class="filter-label">Search Tasks:</label>
    <input id="taskSearch" class="form-control" placeholder="Search tasks..." type="text">
</div>

<!-- POS Group -->
<div class="filter-group mb-4">
    <label for="filterPosID" class="filter-label">POS Number:</label>
    <select id="filterPosID" class="form-select mb-2">
        <option value="">All</option>
        {% for pos in pos_data %}
        <option value="{{ pos.pos_id }}">{{ pos.pos_id }}</option>
        {% endfor %}
    </select>

    <label for="filterPosName" class="filter-label">POS Name:</label>
    <select id="filterPosName" class="form-select">
        <option value="">All</option>
        {% for pos in pos_data %}
        <option value="{{ pos.pos_name }}">{{ pos.pos_name }}</option>
        {% endfor %}
    </select>
</div>

<!-- Status Filters -->
<div class="filter-group mb-4">
    <label class="filter-label">Status:</label>
    <div>
        <input type="checkbox" id="statusBacklog" value="Backlog"> Backlog
    </div>
    <div>
        <input type="checkbox" id="statusToDo" value="To Do"> To Do
    </div>
    <div>
        <input type="checkbox" id="statusInProgress" value="In Progress"> In Progress
    </div>
    <div>
        <input type="checkbox" id="statusDone" value="Done"> Done
    </div>
</div>

<!-- Priority Filters -->
<div class="filter-group mb-4">
    <label class="filter-label">Priority:</label>
    <div>
        <input type="checkbox" id="priorityNone" value="None"> None
    </div>
    <div>
        <input type="checkbox" id="priorityLow" value="Low"> Low
    </div>
    <div>
        <input type="checkbox" id="priorityMedium" value="Medium"> Medium
    </div>
    <div>
        <input type="checkbox" id="priorityHigh" value="High"> High
    </div>
</div>

<!-- Reconciliation Dates Group -->
<div class="filter-group mb-4">
    <label for="startDate" class="filter-label">Start Date:</label>
    <input type="date" id="startDate" class="form-control mb-2" value="{{ date.today().strftime('%Y-%m-%d') }}">

    <label for="endDate" class="filter-label">Due Date:</label>
    <input type="date" id="endDate" class="form-control" value="{{ date.today().strftime('%Y-%m-%d') }}">
</div>

<!-- Filter Buttons -->
<div class="filter-buttons">
    <button id="filterBtn" class="btn btn-primary mb-2">Apply Filters</button>
    <button id="clearFilterBtn" class="btn btn-secondary mb-2">Clear Filters</button>
</div>
