{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="center-content"> <!-- Apply center-content class for consistent centering -->
    <div class="text-center">
        <h1>Log In</h1> <!-- Add the title inside the main content block -->
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary mx-auto d-block" style="max-width: 300px;" type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}
